.snippet-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1px 1fr;
  gap: 2rem;
  margin-inline: 2rem;
}

.seperator {
  height: 80%;
  width: 2px;
  background: rgb(198, 204, 205);
  background: linear-gradient(
    180deg,
    rgba(198, 204, 205, 1) 0%,
    rgba(236, 236, 236, 1) 100%
  );
}

.snippet-list {
  list-style: none;
  margin: 2rem auto;
  display: inline-flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.snippets-view > header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.sort-select {
  padding: 1rem 0.5rem;
  border: none;
  background-color: lightblue;
  border-radius: 2px;
  font-size: 1.2rem;
}

.sortForm input[type="submit"] {
  display: inline-block;
  margin-left: 1rem;
}

.snippet-card {
  display: inline-block;
}
.snippet-card a {
  text-decoration: none;
}

.snippet-selected {
  border: 1px solid #1d71de;
  color: #1d71de;
  transition: transform 0.2s ease-in-out;
  transform: translateX(2rem);
}
.snippet-selected .snippet-card-content {
  color: #1d71de;
}

.snippet-card-content {
  display: grid;
  grid-template-columns: 90% 50px;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid rgb(71, 71, 71);
  color: black;
  width: 600px;
}

.snippet-list .snippet-list-item {
  width: 100%;
}

.snippet-card:hover {
  background: rgb(227, 228, 233);
}

.snippet-card .description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.snippet-card .short-snippet {
  overflow: hidden;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.snippet-section {
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.snippet-section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-favorite button[type="submit"] {
  background-color: initial;
  border: none;
  cursor: pointer;
}
.form-favorite button[type="submit"] svg:hover path {
  fill: #f6ea7a;
  stroke: #d2c974;
}

code {
  border-radius: 5px;
  width: 100%;

  max-height: 600px;
  overflow-y: auto;
}

pre {
  display: inline-block;
  white-space: pre-wrap;
  width: 100%;
}

.snippet-section footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.snippet-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.snippet-fallback img {
  max-width: 100%;
}

.snippet-fallback p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.clipboard-banner {
  background-color: #d4f1fb;
  width: 50px;
  height: 60px;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 1rem;
  border-radius: 0 0 5px 5px;
}

.code-snippet {
  position: relative;
  margin-top: 2rem;
  cursor: copy;
}

.clipboard-banner:hover {
  background-color: #e5f8ff;
}
.clipboard-banner svg:hover path {
  fill: #1d9dcc;
}

.hljs {
  background-color: lightblue;
}

@media screen {
}
